{% extends "base.html" %}

{% block body_block %}
    <h1 class="text-center text-uppercase mt-2">{{ header }}</h1>
    <nav class="text-center">
        <ul class="list-inline">
            <li class="list-inline-item"><a href="{% url 'index' %}">Home</a></li>
            <li class="list-inline-item"><a href="{% url 'admin:index' %}">Admin</a></li>
            <li class="list-inline-item"><a href="{% url 'school-list' %}">School List</a></li>
            <li class="list-inline-item"><a href="{% url 'student-list' %}">Student List</a></li>
            <li class="list-inline-item"><a href="{% url 'create-student' %}">Create Student</a></li>
            <li class="list-inline-item"><a href="{% url 'create-school' %}">Create School</a></li>
        </ul>
    </nav>
{% endblock body_block %}
    