{% extends 'app00/base.html' %}


{% block body_block %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">PLEASE LOGIN</h1>
        <form action="{% url 'app00:user_login' %}" method="POST">
            {% csrf_token %}
            <input name="username" type="text" placeholder="Username">
            <input name="password" type="password" placeholder="Password">
            <button class="btn btn-success" type="submit">Login</button>
        </form>
    </div>
</div>

{% endblock body_block %}
    